body {
    font-family: Arial, sans-serif;
    background-color: #d43d45;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #6d4caf;
    margin-top: 20px;
}

#video-container {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#video-container img {
    width: 100%;
    border: 5px solid #400613;
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #777;
}
