{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Emotion Detection Web App</h1>
    <div id="video-container">
        <img src="{% url 'video_feed' %}" width="100%">
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>


